/* red: rgb(222, 11, 74)
darkblue: rgb(19, 109, 207)
lightblue: rgb(92, 181, 253)*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: CenturyGothicBold;
  color: rgb(0, 11, 60);
  font-size: 1em;
  background-color:rgba(92, 181, 253, 0.5) ;

  
}
